.account-page input {
    border-radius: 20px;
}
.list-group-item {
    background: transparent !important;
    color: #fff !important;
    border: none !important;
    font-size: 1.05rem;
    transition: background 0.2s;
}
.list-group-item:hover {
    background: #282828 !important;
}